@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>
        <button type="button" class="btn-info btn-default">
            @Html.ActionLink("Merhaba " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </button>
    </li>
    
    <li>
        <button type="button" class="btn-danger">
            <a href="javascript:document.getElementById('logoutForm').submit()">Oturumu kapat</a>
        </button>
    </li>
</ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>
        <button type="button" class="btn-primary">@Html.ActionLink("Kaydol", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>
    </li>
    <li>
        <button type="button" class="btn-success">
            @Html.ActionLink("Oturum aç", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </button>
    </li>

    


</ul>
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>